<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/"><strong>Crée un nouveau potin!</strong></a>

    <h2>Voici déjà tous les gossips existants</h2>
    <a href="/"> Les gossips :</a>

    <% gossips.each_with_index do |gossip, index| %>
        <p><a href="gossips/<%= index %>">Découvrir le potin n° <%= index + 1 %> de
          <%= gossip.author %></a>
        </p>
      <% end %>
  </body>
</html>
