<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">le texte du lien</a>

    <h2>Voici déjà tous les gossips existants</h2>
    <a href="/"> Les gossips :</a>
    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
      <% end %>
  </body>
</html>
