<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <h2>Voici la page du potin n°<%= params[:id]%> </h2>
    <p> Son auteur :  <%= gossip_array.author %> <br>
     Le contenu du potin : <%= gossip_array.content %></p>
    <p><a href="/">Lien</a> pour revenir à la page des potins</p>

  </body>
</html>
